# Virtual environment files
venv_ralph/

# Environmental variables files
.envrc
.env

# IDEs config files
.vscode/
.idea/workspace.xml

# Python's caches
**/__pycache__/
test/__pycache__
**/.pytest_cache/
.pytest_cache/

# Config files
.pre-commit-config.yaml

# Log files
ralph.log

# Data files
students.txt

# Tesing files
polygon.py

!.idea/