# Virtual environment files
venv_ralph/

# Environmental variables files
.envrc
.env

# IDEs config files
.vscode/
.idea/

# Python's caches
**/__pycache__/
test/__pycache__
**/.pytest_cache/
.pytest_cache/

# Config files
.pre-commit-config.yaml