# Virtual environment files
venv_ralph/

# Environmental variables files
.envrc
.env

# IDEs config files
.vscode/
.idea/workspace.xml

# Python's caches
**/__pycache__/
test/__pycache__
**/.pytest_cache/
.pytest_cache/

# Data files
students.txt

# Tesing files
polygon.py

# Documentation's build
docs/_build
